<div class="dashboard">
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened="true">
      <mat-nav-list>
        <mat-list-item class="logo-section">
          <img matListItemTitle src="inflektion_logo.svg" alt="Inflektion Logo"/>
          <mat-icon matListItemIcon>list</mat-icon>
        </mat-list-item>

        <mat-list-item class="active">
            <mat-icon matListItemIcon svgIcon="home"></mat-icon>
						<span matListItemTitle>Dashboard</span>
				</mat-list-item>
        <mat-list-item class="">
            <mat-icon matListItemIcon svgIcon="partners"></mat-icon>
						<span matListItemTitle>Partners</span>
				</mat-list-item>
        <mat-list-item class="">
            <mat-icon matListItemIcon svgIcon="approvals"></mat-icon>
						<span matListItemTitle >Approvals</span>
				</mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="top-bar">
      <span class="status-section">
        <h1>Power Plate</h1>
        <h6>Dashboard</h6>
      </span>

      <div class="user-section">
        <img src="avatar.png" alt="User Avatar" class="avatar" />
        <span class="username">TEST User</span>
      </div>
    </div>

    <mat-form-field appearance="outline" class="date-picker">
      <mat-label>Date Range</mat-label>
      <mat-date-range-input [rangePicker]="picker" (dateChange)="onDateRangeSelected()">
        <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
        <input matEndDate placeholder="End date" [(ngModel)]="endDate">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <span class="table-ctrls">
      <div class="table-btns-section">
        <button class="top-btn" mat-raised-button (click)="onChooseColumns()">
          <span>Columns</span>
          <mat-icon class="btn-icon" svgIcon="lists"></mat-icon>
        </button>
        <button class="top-btn" mat-raised-button (click)="onMessagePartners()">
          <span>Message Partners</span>
          <mat-icon class="btn-icon" svgIcon="mail"></mat-icon>
        </button>
        <button class="top-btn" mat-raised-button (click)="onExportList()">
          <span>Export List</span>
          <mat-icon class="btn-icon" svgIcon="download"></mat-icon>
        </button>
      </div>
    </span>

      <!-- Main Content -->
    <main class="content">
      <div *ngIf="isLoading" class="loading">
        <mat-spinner></mat-spinner>
        <p>Please wait! Fetching Data...</p>
      </div>

      <div *ngIf="!isLoading && errorMsg" class="error">
        <p>{{ errorMsg }}</p>
      </div>

      <div *ngIf="!isLoading && !errorMsg" class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="id">ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <!-- Partner Name Column -->
          <ng-container matColumnDef="partnerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="partnerName">Name</th>
            <td mat-cell *matCellDef="let element">{{ element.partnerName }}</td>
          </ng-container>

          <!-- Partner Type Column -->
          <ng-container matColumnDef="partnerType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="partnerType">Type</th>
            <td mat-cell *matCellDef="let element">{{ element.partnerType }}</td>
          </ng-container>

          <!-- Contract Column -->
          <ng-container matColumnDef="contract">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="contract">Contract</th>
            <td mat-cell *matCellDef="let element">{{ element.contract }}</td>
          </ng-container>

          <!-- Gross Sales Column -->
          <ng-container matColumnDef="grossSales">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="grosssales">Gross Sales</th>
            <td mat-cell *matCellDef="let element">{{ element.grosssales | currency:'USD' }}</td>
          </ng-container>

           <!-- Commissions Column -->
           <ng-container matColumnDef="commissions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="commissions">Commissions</th>
            <td mat-cell *matCellDef="let element">{{ element.commissions | currency:'USD' }}</td>
          </ng-container>

          <!-- Conversions Column -->
          <ng-container matColumnDef="conversions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="conversions">Conversions</th>
            <td mat-cell *matCellDef="let element">{{ element.conversions }}</td>
          </ng-container>

           <!-- Details Column -->
          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="">
              <button mat-button class="details-btn">
                <mat-icon class="btn-icon" svgIcon="details"></mat-icon>
                <span>Details</span>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" ></tr>
        </table>

        <!-- Paginator -->
        <mat-paginator
          style-paginator
          [length]="dataSource.data.length"
          [pageSize]="pageSize"
          *ngIf="!isLoading">
        </mat-paginator>

      </div>
    </main>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
