<div class="dashboard">
  <mat-drawer-container>
    <mat-drawer mode="side" opened>
      <nav class="nav-bar">
        <div class="nav-actions">
          
          <mat-sidenav-container class="max-width">
          <mat-sidenav-content>
            <div class="logo-section">
            <img src="assets/inflektion_logo.svg" alt="Inflektion Logo" class="logo" />
          </div>

          </mat-sidenav-content>
          <mat-sidenav-content>
            <button class="nav-btn active">Dashboard</button>
          </mat-sidenav-content>
          <mat-sidenav-content>
            <button class="nav-btn">Partners</button>
          </mat-sidenav-content>
          <mat-sidenav-content>
            <button class="nav-btn">Approvals</button>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
    </nav>

    </mat-drawer>
    <mat-drawer-content>
    
    <div class="top-bar">
      <span class="status-section">
        <h1>Power Plate</h1>
        <h6>Dashboard</h6>
      </span>
    
      <div class="user-section">
        <img src="assets/avatar.png" alt="User Avatar" class="avatar" />
        <span class="username">TEST User</span>
      </div>
    </div>
 
    <mat-form-field appearance="outline" class="date-picker">
      <mat-label>Date Range</mat-label>
      <mat-date-range-input [rangePicker]="picker" (dateChange)="onDateRangeSelected()">
        <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
        <input matEndDate placeholder="End date" [(ngModel)]="endDate">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <span class="table-ctrls">
      <div class="table-btns-section">
        <button mat-button (click)="onChooseColumns()">Choose Columns</button>
        <button mat-raised-button color="primary" (click)="onMessagePartners()">Message Partners</button>
        <button mat-raised-button color="accent" (click)="onExportList()">Export List</button>
      </div>
    </span>

      <!-- Main Content -->
    <main class="content">
      <div *ngIf="isLoading" class="loading">
        <mat-spinner></mat-spinner>
        <p>Loading data...</p>
      </div>

      <div *ngIf="!isLoading && errorMsg" class="error">
        <p>{{ errorMsg }}</p>
      </div>

      <div *ngIf="!isLoading && !errorMsg" class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <!-- Partner Name Column -->
          <ng-container matColumnDef="partnerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.partnerName }}</td>
          </ng-container>

          <!-- Partner Type Column -->
          <ng-container matColumnDef="partnerType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell *matCellDef="let element">{{ element.partnerType }}</td>
          </ng-container>

          <!-- Contract Column -->
          <ng-container matColumnDef="contract">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contract</th>
            <td mat-cell *matCellDef="let element">{{ element.contract }}</td>
          </ng-container>

          <!-- Gross Sales Column -->
          <ng-container matColumnDef="grossSales">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Gross Sales</th>
            <td mat-cell *matCellDef="let element">{{ element.grosssales | currency:'USD' }}</td>
          </ng-container>

           <!-- Commissions Column -->
           <ng-container matColumnDef="commissions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Commissions</th>
            <td mat-cell *matCellDef="let element">{{ element.commissions | currency:'USD' }}</td>
          </ng-container>

          <!-- Conversions Column -->
          <ng-container matColumnDef="conversions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Conversions</th>
            <td mat-cell *matCellDef="let element">{{ element.conversions }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <!-- Paginator -->
        <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
      </div>
    </main>

    </mat-drawer-content>
  </mat-drawer-container>

</div>
