@use '@angular/material' as mat;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body { 
    height: 100%; 
    font-family: Poppins;
    font-size: var(--mat-table-row-item-label-text-size, var(--mat-sys-body-medium-size, 14px));
    font-weight: var(--mat-table-row-item-label-text-weight, var(--mat-sys-body-medium-weight));

    @include mat.theme((
        color: (
            theme-type: light,
            primary: mat.$azure-palette,
            tertiary: mat.$blue-palette,
        ),
        typography: Poppins,
        density: 0,
    ));

    @include mat.paginator-overrides((
        enabled-icon-color: #031050,
        container-text-font: Poppins,
    ));

    @include mat.sort-overrides((
        arrow-color: #fff,
    ));

    .mat-icon {
        margin: 0.5rem !important;
        height: 15px !important;
        width: 15px !important;
      }

    .paginator-container {
        display: flex;
        gap: 4px;
      }
      
      .paginator {
        background-color: #5E33CE;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white !important;
        font-size: 14px;
        transition: 0.3s;
      }
}